.icon {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-1));
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: max(70%, 1200px);
  margin-inline: auto;
}
