.expectationBadge {
  background-color: light-dark(
    color-mix(in srgb, var(--mantine-color-indigo-7) 20%, transparent),
    color-mix(in srgb, var(--mantine-color-indigo-6) 20%, transparent)
  );
}

.expectationText {
  font-size: 0.7rem;
  font-weight: 700;
  color: light-dark(
    var(--mantine-color-indigo-9),
    var(--mantine-color-indigo-1)
  );
}
