.mainStack {
  height: 200px;
  background-color: var(--mantine-color-secondaryLight-5);
}

.headerGroup {
  align-items: baseline;
}

.title {
  color: light-dark(
    var(--mantine-color-secondaryLight-9),
    var(--mantine-color-secondaryLight-1)
  );
}

.remakeButton {
  background: light-dark(
    var(--mantine-color-secondaryLight-1),
    var(--mantine-color-secondaryLight-9)
  );
}
