.card {
  padding-block: 0rem;
  padding-inline: 0rem;
  border-radius: 0.1rem;
}

.topGroup {
  justify-content: space-between;
  align-items: center;
}

.cardName {
  font-size: smaller;
  font-weight: 600;
  padding-block: 0.4rem;
  padding-inline: 0.5rem;
}

.cardDescription {
  padding-block: 1rem;
  padding-inline: 0.5rem;
}

.badge {
  width: 100%;
  padding-block: 1rem;
  border-radius: 0rem;
  min-width: 3.25rem;
  user-select: none;
}