.card {
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  border-radius: 0.1rem;
}

.cardLineGroup {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.cardNameGroup {
  align-items: baseline;
  gap: 0.4rem;
  flex-wrap: nowrap;
  overflow: hidden;
}

.cardName {
  font-size: smaller;
  font-weight: 600;
}

.cardBadgesGroup {
  gap: 0.25rem;
  flex-wrap: nowrap;
}
