.card {
  padding-block: 0.25rem;
  border-radius: 0.1rem;
}

.cardLineGroup {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.cardNameGroup {
  align-items: baseline;
  gap: 0.4rem;
  flex-wrap: nowrap;
}

.cardBadgesGroup {
  gap: 0.25rem;
  flex-wrap: nowrap;
}
