.stack {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40rem;
}

.grid {
  width: 100%
}

.gridcol {
  text-align: center;
}

.box {
  max-height: 80vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.box::-webkit-scrollbar {
  display: none;
}