.card {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}
.stack {
  gap: 1;
  width: 100%;
}
.title {
  font-weight: 600;
  padding-left: 0.25rem;
  padding-bottom: 0.2rem;
}
